<h1>Tamagotchi</h1>

<p>Adopt a new Tamagotchi</p>
<form action="/makenew" method="post">
    <label for="name">Name your Tamagotchi</label>
    <input id="name" name="name" type="text" maxlength="30">
    <button type="submit" class="btn btn-default">Adopt Tamagotchi</button>
</form>
