<h1 class="main-title">Tamagotchi Game</h1>
<h2>Adopt a new Tamagotchi!</h2>
<form action="/makenew" method="post">
    <label for="name">Name your Tamagotchi</label>
    <input id="name" name="name" type="text" maxlength="30" class="form-control"><br>
    <button type="submit" class="btn btn-primary form-control">Adopt Tamagotchi</button>
</form>
