<h1>You Have Adopted A Tamagotchi</h1>
<h2>$name will be your new best friend!</h2>
<form action="/activities" method="post">
    <button type="submit" class="btn btn-default form-control" id="namedIt">Let's Play</button>
</form>
